FastAPI # API library
uvicorn # Web server
pymongo>=4.13 # Mongo async driver
pymongo_inmemory # In memory mongo server for tests
psycopg[binary] # Postgres async driver
aiosqlite # SQLite async driver
requests # httpm
pserialization # Serialization library
pytest # testing
pytest-xdist # parallel test execution
httpx # FastAPI test client
argon2-cffi # Argon2id password hashing
